<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <!-- CSS Code: Place this code in the document's head (between the 'head'
    tags) -->
    <style>
table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #ffcc00;
}
    </style>

  </head>
  <body>
    Salve,
    <p>nuovo ordine da TCF per
      <%= @purchase_order.receivable.name %>!</p>
    <p>
      Componenti richiesti:
      <br>
      --------------------------
    </p>
    <table class="GeneratedTable">
      <thead>
        <tr>
          <th scope="col" style="text-align: center;">
            Gruppo
          </th>
          <th scope="col" style="text-align: center;">
            Codice
          </th>
          <th scope="col" style="text-align: center;">
            Nome
          </th>
          <th scope="col" style="text-align: center;">
            Quantita'
          </th>
          <th scope="col" style="text-align: center;">
            Files
          </th>
        </tr>
      </thead>
      <tbody>
        <% @purchase_order.order_lines.each do | line | %>
          <%= render "purchase_order_lines/purchase_order_line", line: %>
        <% end %>
      </tbody>
    </table>

  </body>
</html>
