<div id="<%= dom_id line %>">
  <div class="btn-primary mb-2">
    <%= link_to add_component_to_supplier_order_path(line: line["id"], id: @order.id),
    data: {
      turbo_stream: true,
    } do %>
      <p class="font-bold"><%= line.item.code %></p>
      <small><%= line.item.name %></small>
    <% end %>
  </div>
</div>
