<div class="w-full h-min-screen p-4">
  <h1 class="font-bold text-4xl text-gray-dark">Ordini Fornitori</h1>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-4">
    <table class="w-full text-sm text-left rtl:text-right">
      <thead class="sticky top-0 text-xs text-light uppercase bg-gray">
        <tr>
          <th scope="col" class="px-6 py-3">
            Data
          </th>
          <th scope="col" class="px-6 py-3">
            Numero
          </th>
          <th scope="col" class="px-6 py-3">
            Cliente
          </th>
          <th scope="col" class="px-6 py-3">
          </th>
        </tr>
      </thead>
      <tbody id="orders" is="turbo-stream">
        <%= render @purchase_orders %>
      </tbody>
    </table>
  </div>
</div>
