<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing bill of material line</h1>

  <%= render "form", bill_of_material_line: @bill_of_material_line %>

  <%= link_to "Show this bill of material line", @bill_of_material_line, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to bill of material lines", bill_of_material_lines_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
