<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New supplier order line</h1>

  <%= render "form", supplier_order_line: @supplier_order_line %>

  <%= link_to "Back to supplier order lines",
  supplier_order_lines_path,
  class: "btn-primary" %>
</div>
