<div class=" m-4">
  <div class="mx-auto">
    <%= render @item %>
    <div class="mt-4">
      <%= link_to "Torna Indietro", items_path, class: "btn-primary float-right" %>
    </div>
  </div>
</div>
