<div class="mx-auto md:w-2/3 w-full m-4">
  <h1 class="font-bold text-4xl">Modifica Fornitore</h1>

  <%= render "form", supplier: @supplier %>
  <%= link_to "Mostra", @supplier, class: "btn-primary" %>
</div>
